<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Negative Films | Codegrid | MWT Sept 2025</title>
    <link rel="icon" href="/site-icon.png" />
    <meta name="theme-color" content="#000000" />
    <meta name="author" content="Codegrid" />

    <link rel="stylesheet" href="/globals.css" />
    <link rel="stylesheet" href="/css/preloader.css" />
    <link rel="stylesheet" href="/css/transition.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/pixelated-video.css" />
    <link rel="stylesheet" href="/css/pixelated-text.css" />
    <link rel="stylesheet" href="/css/spotlight.css" />
    <link rel="stylesheet" href="/css/split-element.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>

    <!-- home: pixelated-video section -->
    <section class="hero">
      <video class="hero-video" autoplay muted loop playsinline>
        <source src="/hero/hero-footage.mp4" type="video/mp4" />
      </video>

      <div class="hero-content">
        <div class="hero-header">
          <div class="container">
            <h2>Films forged on shadow, silence and geometry.</h2>
          </div>
        </div>

        <div class="hero-footer">
          <div class="container">
            <p><span>Warsaw</span> <span>/</span> <span>Marseille</span></p>
            <p>[ &nbsp;Scroll to Continue&nbsp; ]</p>
          </div>
        </div>
      </div>
    </section>


 
    <script type="module" src="/scripts/hover.js"></script>
    <script type="module" src="/scripts/pixelated-video.js"></script>
    <script type="module" src="/scripts/pixelated-text.js"></script>
   
  </body>
</html>
